/* employees/static/employees/css/add_styles.css */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: rgb(45, 49, 53);
    position: relative;
}

.navbar h1 {
    font-size: 40px;
    margin-left: 30%;
}

.navbar h1:hover {
    color: red;
    -webkit-text-stroke: 1px white;
    /* color: #09c30f; */
}

.content {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h1 {
    font-size: 30px;
}
h1:hover{
    color: #09c30f;
}

form {
    width: 50%;
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

form input, form select {
    width: 50%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: black;
    color: #ffffff;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

form input:hover, form select:hover {
    border-color: #09c30f;
    background-color: #222;
}

form label:hover {
    color: #09c30f;
}

button {
    background-color: #09c30f;
    height: 50px;
    width: 150px;
    color: white;
    font-weight: 1000;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: white;
    color: #09c30f;
    font-weight: 1000;
    height: 55px;
    width: 160px;
    transition: 0.3s ease-in-out;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #09c30f;
}
