<!-- employees/templates/employees/home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Management System</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'employees/css/styles.css' %}"
    />
  </head>
  <body>
    <div class="navbar">
      <h1 class="nav-name">
        <b>C</b>ode<b>K</b>rafters <b>E</b>mployee <b>M</b>anagement <b>S</b>ystem
      </h1>
    </div>
    {% comment %} <h1>Welcome to the Employee Management System</h1> {% endcomment %}
    <h1>Employee List</h1>

    <table border="10">
      <thead>
        <tr>
          <th class="th">ID</th>
          <th class="th">Name</th>
          <th class="th">Designation</th>
          <th class="th">Salary</th>
          <th class="th">Join Date</th>
          <th class="th">View</th>
          <th class="th">Denger</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.employee_id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.designation }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.join_date }}</td>
          <td>
            <a
              href="{% url 'update_employee' employee_id=employee.employee_id %}">Update</a>
          </td>
          <td>
            <a
              href="{% url 'delete_employee' employee_id=employee.employee_id %}">Delete</a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    <br />

    <p class="add"><a href="{% url 'add_employee' %}">Add Employee</a></p>
    <br /><br />
    <button onclick="printEmployeeList()">Print Employee List</button>

    <script>
      function printEmployeeList() {
        window.print();
      }
    </script>
  </body>
</html>
