<!-- employees/templates/employees/update_employee.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employee</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'employees/css/update.css' %}"
    />
</head>
<body>

<h1>Update Employee</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
</form>

<br>

<a href="{% url 'index' %}">Back to Home</a>

</body>
</html>
